body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
input {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #4268e5e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 15px;
    font-weight: bold;
}
#grafica {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #51ec46;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
}
